@import url("https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: 'Lato';
}

.container {
  margin: 0 auto;
  max-width: 1103px;
}

.portfolio {
  background-color: #f3f3f3;
  padding: 100px 0px 60px 0px;
  text-align: center;
}

.portfolio__title {
  margin: 0px 0px 50px 0px;
}

.portfolio__menu {
  margin: 0px 0px 130px 0px;
}

.portfolio__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 0 48px;
}

.portfolio__item {
  width: 538px;
  height: 365px;
  background-color: #eaeaea;
  margin: 0 0 16px;
}

.portfolio__item:nth-child(1) {
  background: url("../img/01.jpg") center/cover no-repeat;
}

.portfolio__item:nth-child(2) {
  background: url("../img/02.jpg") center/cover no-repeat;
}

.portfolio__item:nth-child(3) {
  background: url("../img/03.jpg") center/cover no-repeat;
}

.portfolio__item:nth-child(4) {
  background: url("../img/04.jpg") center/cover no-repeat;
}

.portfolio__item:nth-child(5) {
  background: url("../img/05.jpg") center/cover no-repeat;
}

.button {
  position: relative;
  display: inline-block;
  margin: 0px 0 100px 0;
}

.button:before, .button:after {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  border: 3px solid #c00;
  top: -10px;
  left: 50%;
  z-index: 1;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  margin: 0 0 0 -40px;
}

.button:before {
  border: 3px solid #a00;
  -webkit-animation: rotate 20s infinite linear;
  animation: rotate 20s infinite linear;
}

.button:after {
  -webkit-animation: rotate 15s infinite linear;
  animation: rotate 15s infinite linear;
}

.button__text {
  position: relative;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0px 50px;
  border-radius: 50px;
  text-transform: uppercase;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.3);
  letter-spacing: 10px;
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  top: 0;
  overflow: hidden;
}

.button__text:before, .button__text:after {
  content: '';
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: #eee;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.button__text:before {
  left: 0;
  z-index: 2;
}

.button__text:after {
  right: 0;
}

.button__text span {
  position: relative;
  z-index: 2;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
