// Файл обнуляющих стилей
@import "nullstyle.scss";

body{
	font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
	color: #273d46;
	background-color: #e8e8e8;

}

.wrapper {
	position: relative;
	margin: 106px auto;
	padding: 62px 0 0 0;
	max-width: 1190px;
	background: url('../../img/Ellipse_1_copy.svg') 50% 0px no-repeat;
}
.travel-image {
	max-width: 841px;
	max-height: 561px;
	background-color: #fff;
	box-shadow: 0 15px 65px rgba(15, 16, 16, 0.15);
}
.travel-image img{
	margin: 9px;
}
.content {
	margin: 0 auto;
	max-width: 841px;
}
.travel {
	height: 10px;
	opacity: 0.6;
	font-family: "Arial MT";
	font-size: 14px;
	margin: 0px 0 28px 0;
	text-align: center;
}
.travel-subtitle {
	font-size: 36px;
	text-align: center;
	margin: 0 0 77px 0;
	padding: 0 58px;
}
.travel-text {
	margin: 97px 45px 64px 45px;
	opacity: 0.8;
	font-size: 24px;
	line-height: 40px;
	&__item {}
}
.list {
	margin: 0 45px;
	font-size: 20px;
	line-height: 36px;
}
.list-item {
	padding: 0 33px;
	background: url('../img/check_icon.png') 0 0 no-repeat;
}
.list-item-1 {
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}
.list-item-2 {
	color: #80b7b3;
}
.list-item-3 {
	font-weight: bold;
}
.list-item-4 span{
	opacity: 0.3;
	text-decoration: line-through;
}
.button-full-story {
	margin: 59px 0;
	width: 199px;
	height: 44px;
	border-radius: 20px;
	background-color: #80b7b3;
	box-shadow: 0 6px 40px rgba(128, 183, 179, 0.54);
	padding: 16px 0 0 30px;
	font-size: 14px;
	letter-spacing: 2.8px;

}

.button-full-story span{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #fff;
}

.button-full-story img{
	margin: -1px 0 0 10px;
}