* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

.hi {
  background-color: #445162;
  padding: 50px 0;
}

.hi__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.hi__text {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin: 0 20px 0 0;
  color: #fff;
}

.hi__title {
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
  font-size: 60px;
  margin: 0px 0px 40px 0px;
}

.hi__list {
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
  font-size: 20px;
}

.hi__list li {
  background: url("../img/check.png") left top no-repeat;
  padding: 0 0 0 36px;
  margin: 0 0 20px 0;
}

.hi__list li:last-child {
  margin: 0;
}

.hi__img {
  width: 469px;
}

.what {
  padding: 50px 0 46px;
}

.what__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.what__img img {
  width: 430px;
}

.what__body {
  margin: 0 50px 0 38px;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.what__title {
  margin: 0 0 36px;
}

.what__text {
  color: #333333;
  font-size: 16px;
  line-height: 24px;
}

.what__text p {
  margin: 0 0 35px;
}

.what__text p:last-child {
  margin: 0;
}

.title {
  color: #445161;
  font-size: 30px;
}

.flex {
  background-color: #f5f5f5;
  padding: 48px 0 18px;
  margin: 0 -8px;
}

.flex__title {
  text-align: center;
  margin: 0 0 30px;
}

.flex__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex__column {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 50%;
  flex: 1 1 50%;
  padding: 0 8px 30px;
}

.flex-item__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-item__img img {
  width: 200px;
}

.flex-item__body {
  margin: 0 0 0 15px;
}

.flex-item__title {
  color: #445161;
  font-size: 24px;
  margin: 0 0 15px;
}

.flex-item__text {
  color: #333333;
  font-size: 16px;
}

.vertical {
  padding: 50px 0;
}

.vertical__body {
  max-width: 990px;
  margin: 0 auto;
}

.vertical__title {
  text-align: center;
  margin: 0 0 30px;
}

.vertical__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -22.5px;
}

.vertical__column {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 33.333%;
  flex: 0 1 33.333%;
  padding: 0px 22.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart {
  background-color: #445162;
  color: #fff;
  border-radius: 6px;
  border: 1px solid #445162;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0 0 20px 0;
}

.cart__title {
  padding: 12px 0;
  text-transform: uppercase;
  text-align: center;
  font-size: 24px;
}

.cart__lable {
  background-color: #fff;
  padding: 18px 0;
  text-align: center;
  font-size: 40px;
  color: #445162;
}

.cart__text {
  margin: 20px;
  font-size: 14px;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  line-height: 24px;
}

.cart__text p {
  margin: 0 0 33px;
}

.cart__text p:last-child {
  margin: 0;
}

.cart__button {
  display: block;
  font-size: 18px;
  text-align: center;
  color: #445161;
  border-radius: 6px;
  background-color: #fff;
  margin: 0px 20px;
  height: 40px;
  line-height: 40px;
}

.footer {
  background-color: #f5f5f5;
}

.footer__row {
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer__text {
  color: #445162;
  font-size: 12px;
  letter-spacing: 0.3px;
}
