* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

html, body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-color: #000;
}

.wrapper {
  overflow: hidden;
  opacity: 0;
  -webkit-transition: all 1.0s ease 0s;
  -o-transition: all 1.0s ease 0s;
  transition: all 1.0s ease 0s;
}

.wrapper.active {
  opacity: 1;
}

.wrapper.active .parallax__wave {
  opacity: 1;
  -webkit-transition: all 1.0s ease 1.0s;
  -o-transition: all 1.0s ease 1.0s;
  transition: all 1.0s ease 1.0s;
}

.wrapper.active .parallax__rope {
  opacity: 1;
  -webkit-transition: all 1.0s ease 1.8s;
  -o-transition: all 1.0s ease 1.8s;
  transition: all 1.0s ease 1.8s;
}

.wrapper.active .parallax__litehouse {
  bottom: 130px;
  -webkit-transition: all 0.8s ease 2.5s;
  -o-transition: all 0.8s ease 2.5s;
  transition: all 0.8s ease 2.5s;
}

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 360px;
}

.parallax {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
  position: relative;
  overflow: hidden;
}

.parallax:after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(60%, black));
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0) 0%, black 60%);
  background: -o-linear-gradient(rgba(0, 0, 0, 0) 0%, black 60%);
  background: linear-gradient(rgba(0, 0, 0, 0) 0%, black 60%);
}

.parallax__list {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.parallax__list li {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.parallax__bg {
  position: absolute;
  width: 110%;
  height: 110%;
  top: -5%;
  left: -5%;
  background: url("../img/background.jpg") 50% 100%/cover no-repeat;
}

.parallax__rope {
  position: absolute;
  width: 120%;
  left: -10%;
  opacity: 0;
}

.parallax__rope img {
  width: 100%;
}

.parallax__rope_1 {
  top: 5%;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.parallax__rope_1 .parallax__element {
  -webkit-transform: scale(0.645);
  -ms-transform: scale(0.645);
  transform: scale(0.645);
}

.parallax__rope_2 {
  top: -1.66667%;
  -webkit-transform: scale(1.05556);
  -ms-transform: scale(1.05556);
  transform: scale(1.05556);
}

.parallax__rope_2 .parallax__element {
  -webkit-transform: scale(0.78);
  -ms-transform: scale(0.78);
  transform: scale(0.78);
}

.parallax__rope_3 {
  top: -11.66667%;
  -webkit-transform: scale(1.13889);
  -ms-transform: scale(1.13889);
  transform: scale(1.13889);
}

.parallax__rope_3 .parallax__element {
  -webkit-transform: scale(0.98889);
  -ms-transform: scale(0.98889);
  transform: scale(0.98889);
}

.parallax__element {
  position: absolute;
}

.parallax__element span {
  display: inline-block;
  -webkit-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  transform-origin: 50% 0;
  width: 280px;
  height: 280px;
  margin: 0 0 0 -140px;
  -webkit-animation: swing 2s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
  animation: swing 2s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.parallax__element_1 {
  top: 28%;
  left: 20%;
}

.parallax__element_1 span {
  background: url("../img/clouds/board-cloud-2.png") 0 0/100% no-repeat;
}

.parallax__element_2 {
  top: 46%;
  left: 40%;
}

.parallax__element_2 span {
  background: url("../img/clouds/board-cloud-1.png") 0 0/100% no-repeat;
}

.parallax__element_3 {
  top: 24%;
  left: 80%;
}

.parallax__element_3 span {
  background: url("../img/clouds/board-birds.png") 0 0/100% no-repeat;
}

.parallax__element_4 {
  top: 17%;
  left: 10%;
}

.parallax__element_4 span {
  background: url("../img/clouds/board-cloud-1.png") 0 0/100% no-repeat;
}

.parallax__element_5 {
  top: 56%;
  left: 50%;
}

.parallax__element_5 span {
  background: url("../img/clouds/board-cloud-4.png") 0 0/100% no-repeat;
}

.parallax__element_6 {
  top: 57%;
  left: 30%;
}

.parallax__element_6 span {
  background: url("../img/clouds/board-birds.png") 0 0/100% no-repeat;
}

.parallax__element_7 {
  top: 65%;
  left: 60%;
}

.parallax__element_7 span {
  background: url("../img/clouds/board-cloud-2.png") 0 0/100% no-repeat;
}

.parallax__element_8 {
  top: 45%;
  left: 80%;
}

.parallax__element_8 span {
  background: url("../img/clouds/board-cloud-3.png") 0 0/100% no-repeat;
}

.parallax__wave {
  position: absolute;
  background: url("../img/waves/wave-plain.png") 0 0/auto 101% repeat-x;
  left: -100%;
  width: 300%;
  opacity: 0;
}

.parallax__wave_1 {
  bottom: 180px;
  height: 86px;
  -webkit-animation: wave 7.11111s 0.1s infinite linear;
  animation: wave 7.11111s 0.1s infinite linear;
  background: url("../img/waves/wave-paint.png") 0 0/auto 101% repeat-x;
}

.parallax__wave_2 {
  bottom: 144px;
  height: 115px;
  -webkit-animation: wave 6.66667s 0.1s infinite linear;
  animation: wave 6.66667s 0.1s infinite linear;
}

.parallax__wave_3 {
  bottom: 108px;
  height: 144px;
  -webkit-animation: wave 6.22222s 0.1s infinite linear;
  animation: wave 6.22222s 0.1s infinite linear;
  background: url("../img/waves/wave-paint.png") 0 0/auto 101% repeat-x;
}

.parallax__wave_4 {
  bottom: 72px;
  height: 173px;
  -webkit-animation: wave 5.77778s 0.1s infinite linear;
  animation: wave 5.77778s 0.1s infinite linear;
}

.parallax__wave_5 {
  bottom: -1px;
  height: 230px;
  -webkit-animation: wave 4.8888s 0.1s infinite linear;
  animation: wave 4.8888s 0.1s infinite linear;
}

.parallax__wave_6 {
  bottom: -72px;
  height: 288px;
  -webkit-animation: wave 4.5s 0.1s infinite linear;
  animation: wave 4.5s 0.1s infinite linear;
  background: url("../img/waves/wave-paint.png") 0 0/auto 101% repeat-x;
}

.parallax__litehouse {
  background: url("../img/lighthouse.png") 0 0 no-repeat;
  width: 320px;
  height: 560px;
  position: absolute;
  right: 12%;
  bottom: -100%;
  -webkit-animation: lighthouse 4s 0.1s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
  animation: lighthouse 4s 0.1s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

@-webkit-keyframes swing {
  0% {
    -webkit-transform: rotateZ(10deg);
    transform: rotateZ(10deg);
  }
  100% {
    -webkit-transform: rotateZ(-10deg);
    transform: rotateZ(-10deg);
  }
}

@keyframes swing {
  0% {
    -webkit-transform: rotateZ(10deg);
    transform: rotateZ(10deg);
  }
  100% {
    -webkit-transform: rotateZ(-10deg);
    transform: rotateZ(-10deg);
  }
}

@-webkit-keyframes wave {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg);
    transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg);
  }
}

@keyframes wave {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg);
    transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg);
  }
}

@-webkit-keyframes lighthouse {
  0% {
    -webkit-transform: translate3d(15%, 0, 0) rotateZ(10deg);
    transform: translate3d(15%, 0, 0) rotateZ(10deg);
  }
  100% {
    -webkit-transform: translate3d(-15%, 0, 0) rotateZ(-10deg);
    transform: translate3d(-15%, 0, 0) rotateZ(-10deg);
  }
}

@keyframes lighthouse {
  0% {
    -webkit-transform: translate3d(15%, 0, 0) rotateZ(10deg);
    transform: translate3d(15%, 0, 0) rotateZ(10deg);
  }
  100% {
    -webkit-transform: translate3d(-15%, 0, 0) rotateZ(-10deg);
    transform: translate3d(-15%, 0, 0) rotateZ(-10deg);
  }
}
