@import url("https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: 'Lato';
}

.wrapper {
  widows: 100%;
  height: 100%;
}

.mainblock {
  position: relative;
  background: url("../img/bg2.jpg") center/cover no-repeat;
  height: 100%;
  width: 100%;
  text-align: center;
  padding: 50px 0;
}

.mainblock__logo {
  display: block;
  margin: 9% 0 9% 0;
}

.mainblock__logo img {
  display: block;
  margin: 0 auto;
}

.mainblock__text {
  color: #ffffff;
  position: relative;
  line-height: 44px;
  margin: 0 0 30% 0;
  padding: 0 0 45px 0;
}

.mainblock__text:after {
  content: '';
  position: absolute;
  width: 105px;
  height: 2px;
  background: #fff;
  bottom: 0;
  left: 50%;
  margin: 0 0 0 -52.5px;
}

.mainblock__title {
  font-size: 34px;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 5.5px;
}

.mainblock__subtitle {
  font-size: 26px;
  letter-spacing: 4.15px;
  font-weight: 400;
}

.mainblock__footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.mainblock__btn {
  margin: 0 auto 80px;
}

.container {
  margin: 0 auto;
  max-width: 1103px;
}

.btn {
  display: inline-block;
  height: 47px;
  line-height: 45px;
  padding: 0 42px;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.67px;
  border: 1px solid #000;
  color: #000;
}

.btn_w {
  border: 1px solid #fff;
  color: #fff;
}

.content__menu {
  margin: 22px 0px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 15px;
  text-transform: uppercase;
  color: #3c3c3c;
}

.menu__item {
  margin: 0px 22.5px 0px;
}

.menu__link {
  color: #3c3c3c;
}

.menu__link_act {
  color: #ada074;
  font-weight: 700;
}

.about {
  text-align: center;
  margin: 120px 0 90px 0;
}

.about__top {
  margin: 0 0 65px 0;
}

.about__title {
  margin: 0 0 37px 0;
}

.about__text {
  max-width: 680px;
  color: #868585;
  font-size: 14px;
  font-weight: 300;
  line-height: 25.89px;
  margin: 0px auto;
}

.about__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -15px;
}

.about__column {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.333%;
  flex: 0 0 33.333%;
}

.about .container {
  max-width: 823px;
}

.title {
  position: relative;
  font-size: 34px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 6px;
  text-align: center;
  padding: 0 0 31px 0;
}

.title:after {
  content: '';
  position: absolute;
  height: 1px;
  width: 81px;
  background-color: #000;
  bottom: 0;
  left: 50%;
  margin: 0 0 0 -40.5px;
}

.item-about__icon {
  width: 92px;
  height: 92px;
  margin: 0px auto 40px;
}

.item-about__title {
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 3.52px;
  margin: 0 auto 35px;
}

.item-about__text {
  color: #868585;
  font-size: 14px;
  font-weight: 300;
  line-height: 26px;
  max-width: 250px;
  margin: 0px auto 30px;
}

.portfolio {
  background-color: #f3f3f3;
  padding: 100px 0px 60px 0px;
  text-align: center;
}

.portfolio__title {
  margin: 0px 0px 50px 0px;
}

.portfolio__menu {
  margin: 0px 0px 130px 0px;
}

.portfolio__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 0 48px;
}

.portfolio__item {
  width: 538px;
  height: 365px;
  background-color: #eaeaea;
  margin: 0 0 16px;
}

.portfolio__btn {
  margin: 0 auto;
}

.our-partners {
  height: 390px;
  background: url("../img/bg2.jpg") center/cover no-repeat;
  padding: 100px 0;
  text-align: center;
}

.our-partners__text {
  display: inline-block;
  color: #ffffff;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 1.8px;
  margin: 0px 0 90px 0;
}

.our-partners__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 584px;
  margin: 0 auto;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.contacts {
  padding: 180px 0px 100px 0px;
}

.contacts__title {
  margin: 0px 0px 120px 0px;
}

.contacts__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -25px;
}

.contacts__column {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
  margin: 0px 25px;
}

.contacts__form {
  text-align: right;
}

.contacts__content {
  max-width: 260px;
}

.contacts__text {
  font-size: 14px;
  font-weight: 300;
  line-height: 26px;
  margin: 0px 0px 35px 0px;
}

.contacts__name {
  font-size: 14px;
  font-weight: 700;
  margin: 0px 0px 25px 0px;
}

.contacts__email {
  font-size: 14px;
}

.contacts__email a {
  font-weight: 700;
  color: #000;
}

.form-contacts__body {
  display: inline-block;
  width: 100%;
  max-width: 385px;
}

.form-contacts__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -15px 70px -15px;
}

.form-contacts__column {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
  padding: 0px 15px;
}

.form-contacts__label {
  font-size: 14px;
  font-weight: 700;
  text-align: left;
  margin: 0px 0px 10px 0px;
  text-transform: uppercase;
  letter-spacing: 0.84px;
}

.form-contacts__btn {
  margin: 35px 0 0 0;
  background-color: #fff;
}

.input {
  position: relative;
  height: 50px;
  border-radius: 0 !important;
  width: 100%;
  display: block;
  font-size: 15px;
  padding: 0px 20px;
  background-color: #f8f7f7;
  border-top: 1px solid #000;
}

textarea.input {
  resize: none;
  height: 117px;
  padding: 10px 20px;
}

.social {
  margin: 0px 0px 15px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social__item {
  margin: 0px 15px 0px 0px;
}

.footer {
  background-color: #3c3c3c;
  padding: 48px 0;
}

.footer__body {
  text-align: center;
}

.footer__logo {
  display: inline-block;
  margin: 0 0 40px 0;
}

.footer__menu {
  text-align: center;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0px 0px 34px 0px;
}

.footer__link {
  color: #a4a4a4;
  font-size: 14px;
  font-weight: 400;
  margin: 0 15px;
}

.footer__text {
  color: #6c6c6c;
  font-family: "Myriad Pro";
  font-size: 14px;
  font-weight: 400;
}
